/* 
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : ilfate
    Description:
        Purpose of the stylesheet follows.
*/

/*
main theme colors
  white #FFF0DD
  blue  #6062FF
  red   #FFB68A
  green #65B54C
  dark  #384541
*/

* {
  margin: 0px;
  padding: 0px;
}

body, html {
    font-family: arial,sans-serif;
    font-size: small;
}

body {
  padding-top: 60px;
  background: url('../images/dark-tile.png');
}

.main-content-well, .main-content-well-side {
  min-height: 600px;
  
}

.well, .navbar {
  background: url('../images/grid.png');
}

/****  Auth  *****/

.form-signin {
  margin: 0 auto;
  max-width: 300px;
}

.move-to-footer, .move-to-header {
  display: none;
}

/**** Alert ****/

.alert {
  background-color: #777777;
  border: 1px solid #FFB68A;
  color: #FFB68A;
  text-shadow: 0 1px 0 rgba(103, 98, 89, 0.5);
}
.alert .close {
  top: 2px;
}


#error, #success, .alert
{
    
    display: none;
}