<?php


return array(

  'Service'  => '\Core\Service',
  'Response' => array(
    'abstract'      => '\Core\Response',
    'http'          => '\Core\Response\Http',
    'subquery'      => '\Core\Response\Http',
    'ajax'          => '\Core\Response\Ajax',
    'http_ajax'     => '\Core\Response\HttpAjax',
      ),
  'View'                       => array(
    'abstract'      => '\Core\View',
    'http'          => '\Core\View\Http',
    'http_ajax'     => '\Core\View\Http',
    'subquery'      => '\Core\View\Http',
   ),
  'log_sql'   => %%log_sql%%,
  'is_dev'    => %%is_dev%%,
  'logs_path' => '%%logs_path%%',
  'site_url'  => '%%site_url%%',
  'default_language' => 'EN',

  '\Core\Provider\PDOmysql' => array(
	'dbname' => 'ilfate',
	'host'   => 'localhost',
	'login'  => 'root',
	'pass'   =>  '%%db_pass%%',
  )
);