/* 
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : ilfate
    Description:
        Purpose of the stylesheet follows.
*/

/*
main theme colors
  white #FFF0DD
  blue  #6062FF
  red   #FFB68A
  green #65B54C
  dark  #384541
*/

* {
  margin: 0px;
  padding: 0px;
}

body, html {
    font-family: arial,sans-serif;
    font-size: small;
}

body {
  padding-top: 60px;
  background: url('../images/dark-tile.png');
}

.main-content-well, .main-content-well-side {
  min-height: 700px;
  padding: 9px 9px 9px 18px;
}

.well, .navbar {
  background: url('../images/grid.png');
  box-shadow: 0 0 6px 0 #384541;
}

.cv-certificate {
	margin-right: 20px;
}

.table-centrated {}
.table-centrated th, .table-centrated td{
  text-align: center;
}

/****  Auth  *****/

.form-signin {
  margin: 0 auto;
  max-width: 300px;
}

.move-to-footer, .move-to-header {
  display: none;
}

/**** Alert ****/

.alert {
  background-color: #777777;
  border: 1px solid #FFB68A;
  color: #FFB68A;
  text-shadow: 0 1px 0 rgba(103, 98, 89, 0.5);
}
.alert .close {
  top: 2px;
}

.alert
{
    
    display: none;
}

/****  Main Page ****/

.hero-unit {
  padding: 35px;
}
.hero-unit h1 {
  font-size: 31px;
  margin: 0px;
}

/**** img ****/

.img-more-rounded {
  border-radius: 36px 36px 36px 36px;
}


/**** label-stars ****/
.label-stars {
	min-width: 72px;
  text-align: center;
}


.before-stars {
  display: inline-block;
  width:72px;
  height: 20px;
  display:none;
  position: absolute;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding: 2px 4px;
  border-radius: 3px 3px 3px 3px;
  margin: 2px 0 0 0;
  min-width: 72px;
}

.container-stars:hover .before-stars{
	display:block;
}
.container-stars {
  display:inline-block;
  min-width: 72px;
}

.star{
  float:left;
  width: 12.5%;
  padding-left: 12.5%;
  height: 16px;
  margin: -1px 0 0 0;
}

.under-star {
  background-color: #F89406;
  width: 18px;
  height: inherit;
  position: absolute;
  margin: 0 0 0 -9px; /* 9px = half image width */
}
.img-star {
  background-image: url('../images/star.png');
  background-repeat: no-repeat;
  width: 18px;
  height: inherit;
  position: absolute;
  margin: 0 0 0 -9px; /* 9px = half image width */
}

/**** img-text ****/
.img-text .text{
  display: none;
  position: absolute;
  font-size: 60px;
  color:black;
  text-decoration: none;
  text-align: center;
  line-height: 270px;
  width:270px;
  height: 270px;
}
.img-text .text.extra-big{
  font-size: 90px;
}
.img-text .text.invert{
  color:white;
}
.img-text:hover .text{
  display: block;
}

/**** like-h1 ****/
.like-h1{
  line-height: 38px;
  margin: 10px;
}